.story {
	width: 300px;
	max-height: 380px;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: .25rem;
	display: flex;
	flex-direction: column;
	margin: 20px 10px;
	align-items: center;
	justify-content: flex-start;
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 14px;
	cursor: pointer;
	transition: all .3s ease;
	filter: none;
	background-color: white;
}

.story:hover {
	animation-name: darken;
	filter: brightness(0.95);
	background-color: rgba(100, 100, 100, .05);
}

.story__image__container {
	width: 300px;
	height: 200px;
}

.story__meta {
	width: 280px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.story__image {
	border-radius: .25rem .25rem 0 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.story__image__placeholder {
	color:rgba(0, 0, 0, .5);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: 
	linear-gradient(to top left,
			rgba(0,0,0,0) 0%,
			rgba(0,0,0,0) calc(50% - 0.8px),
			rgba(0,0,0,.1) 50%,
			rgba(0,0,0,0) calc(50% + 0.8px),
			rgba(0,0,0,0) 100%),
	linear-gradient(to top right,
			rgba(0,0,0,0) 0%,
			rgba(0,0,0,0) calc(50% - 0.8px),
			rgba(0,0,0,.1) 50%,
			rgba(0,0,0,0) calc(50% + 0.8px),
			rgba(0,0,0,0) 100%);
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.story__content {
	padding: 0px 10px 10px;
}

.story__content__text p {
	margin: 0;
}

.story__content__text {
	font-family: 'Space Grotesk', sans-serif;
	font-weight: 500;
	height: 50px;
	font-size: 20px;
	margin: 0px;
	color: black;
	transition: all .3s ease;
}

.story__content__text:hover {
	color: #ff3d00;
}

.story__meta__author__name {
	font-weight: 500;
	color: rgba(1, 1, 1, 0.8);
}

.story__meta__timestamp,
.story__meta__discussion {
	color: rgba(1, 1, 1, 0.7);
}

.story__hot {
	color: #ff3d00;
}
